.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
}

.search {
  width: 80vw;
  padding: 1vh 0 1vh 1vw;
  margin-bottom: 1vh;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(201, 200, 200);
}

.search:hover{
  box-shadow: 0 0 10px rgb(168, 166, 166);
}

.fa-edit {
  color: rgb(61, 80, 144) !important;
}